# Explicitly declare text files you want to always be normalized and converted
# to Unix line endings on checkout.
*.rpy text eol=lf
*.py text eol=lf

# Add whitespace checks for all code files.
*.rpy whitespace=trailing-space,tab-in-indent,cr-at-eol
*.py whitespace=trailing-space,tab-in-indent,cr-at-eol
